
/*먼저 테두리*/
div{
    border: 1px solid black;
    box-sizing: border-box;
}

.container-1{
    display: flex;
    width: 800px;
    height: 500px;
    flex-direction: column;
}

.header-1,.footer-1{
    background-color: gray;
    flex-basis: 20%;
}

.body-1{
    display: flex;
    flex-basis: 60%; }
    
    .body-item-1{ flex-basis: 30%; background-color: skyblue;}
    .body-item-2{ flex-basis: 50%; background-color: orange;}
    .body-item-3{ flex-basis: 30%; background-color: blueviolet;}



    













/*
문제1
.container-1{
    /*가장 바깥쪽 부모*/
    /*처음 시작 필수*/
    display: flex;
    /*자손에게만 먹힘 
     자손에 자손은 적용되지 않음    
     */
    /*처음 크기기정 필수*/
    width: 800px;
    height: 500px;

    /*열방향으로 바꿔라*/
    flex-direction: column;


}

.header-1 ,.footer-1{ 
background-color: gray;

/*점유율 몇퍼센트씩*/
flex-basis: 20%;
}


.body-1{
.body-item-1{ flex-basis: 30%; background-color: skyblue;}
.body-item-2{ flex-basis: 50%; background-color: orange;}
.body-item-3{ flex-basis: 30%; background-color: blueviolet;}


    /*
body-item-1,2,3의 부모이면서 
continer-1의 자식.

->부모 자식 속성 다 사용가능


*/



display: flex;
/*자손에게만 먹힘 
     자손에 자손은 적용되지 않음 
     위에 지정했어도 다시 적용해야함
     */
flex-basis: 60%; 
/*자식속성*/
/* flex-direction: row; 
    기본값이 가로임*/
}

.body-item-1{ flex-basis: 30%; background-color: skyblue;}
.body-item-2{ flex-basis: 50%; background-color: orange;}
.body-item-3{ flex-basis: 30%; background-color: blueviolet;}


.body-1 > div:nth-of-type(1) {

}

.body-1 > div:nth-of-type(2) {
    
}

.body-1 > div:nth-of-type(3) {
    
}
*/