
/*처음필수*/
*{
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body{
  margin: 0;
}

main{
  width: 1140px;
  /*메인 가운데 정렬*/
  margin: auto;
}

header{
  height: 200px;
  display: flex;
  
}
header>section:nth-of-type(1),
header>section:nth-of-type(3){
  flex-basis: 15%;
}

header>section:nth-of-type(2){

  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*로고영역 부분*/
#home-logo{
  width: 120px;
  
}
header>section:nth-of-type(1){
  display: flex;
  /*가운데 정렬*/
  /*메인축 중심*/
  justify-content: center;
  /*교차축 중심*/
  align-items: center;
}

/*검색창 영역*/
.search-area{
  width: 500px;
}

/*서치에어리어 바로 아래 필드셋*/
.search-area fieldset{
  border: 2px solid #455ba8;
  /*테두리 깎기*/
  border-radius: 5px;
  margin: 0;
  padding:2px;
  display: flex;
}

#query{
  font-size: 18px;
  font-weight: bold;
  padding :10px;
  border:none; /*none 대신에 0 써도 됨*/
  /*input 태그에 포커스가 맞춰졌을 때 이를 표현하기 위한 바깥선*/
  /*포커싱해도 테두리 안나타남*/
  outline: none; /*none 대신에 0 써도 됨*/
  flex-basis: 92%;
}
#search-btn{
  flex-basis: 8%;
  background-color: transparent;
  border:none;
  font-size: 20px;
  color:#455ba8;
  /*커서올렸을때 손가락모양으로 바뀜*/
  cursor: pointer;
}


/*nav영역*/
nav{
  height: 50px;
  border-bottom: 2px solid black;
  
  /*
  sticky : 특정 스크롤 위치에 도달했을때 
           요소가 고정되는 효과를 주는데 사용
  -평소에는 html상 자신의 원래 위치에 위치함
  요소가 특정 위치에 도달시 fixed로 변함
  
  
  top , bottom , left , right 속성이 필수로 작성이 되어야함
  -> 임계점 도달 시 어느 위치에 부착해서 고정할지 정해야 하기 때문
  */
  /*nav가 휠 내려도 따라오게 하기*/
  position : sticky;
  top: 0;
  background-color: white;

}

nav>ul{
  /* 목록앞에 점 없애기 */
  /* li가 아닌 ol ,ul 태그에 사용 */
  list-style :none;
  /*옆으로 정렬*/
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav li{
  flex-basis: 150px;
}

nav a{
  /*밑줄 없애기*/
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color:black;
  /*블록형식으로 바꿔서 높이주기*/
  display: block;
  height: 100%;

  /*가로세로 중앙위치*/
  text-align: center;
  line-height: 50px;
  /*마우스 올렸을때 0.2초동안 변해라*/
  transition-duration: 0.2s;
  border-radius: 5px;
}

nav a:hover{
  background-color: #455ba8;
  color: white;
  
}

/*콘텐트 영역*/

.content{
  height: 800px;
  display: flex;

}

.content-1{ flex-basis: 70%;}
.content-2{ flex-basis: 30%;}


/*login스타일*/
form[name="login-form"]{
height: 130px;
margin-top: 20px;

display: flex;
/*축을 새로로 바꾸겠다.*/
flex-direction: column;
}

#id-pw-area{
  border: 1px solid #ddd;
  flex-basis: 70%;
  display: flex;
  margin :0;
  padding: 0;
}

#id-pw-area>section:first-child{
flex-basis: 75%;
display: flex;
flex-direction: column;
}

#id-pw-area >section:last-child{
  flex-basis: 25%;
}

#id-pw-area input{
  border: none;
  outline: none;
  padding:5px;
  flex-basis: 50%;
  border-right: 1px solid #ddd
}

#id-pw-area input:first-child{
  border-bottom : 1px solid #ddd
}

#id-pw-area input:focus{
  border: 2px solid #455ba8;
}


/*로그인버튼*/
#id-pw-area button{
width: 100%;
height: 100%;
border: none;
background-color: transparent;
cursor: pointer;
}

#id-pw-area button:hover{

  background-color: #455ba8;
  color: white;
  
}


/*아이디 저장*/
form[name="login-form"] > label{
flex-basis: 30%;
margin-top: 10px;
font-size: 14px;

}

/* .content-2 label{

} */

/*회원가입 / id pw 찾기 영역*/
#signup-find-area{
  margin-left: 10px;
}

#signup-find-area >a {
  color: black;
  text-decoration: none;
  font-size:14px;
}

#signup-find-area >span{
         /*상하 좌우*/
  padding : 0 10px;

}

/*footer 영역*/
/*다시보기*/
footer{
  height: 200px;
  background-color: #a3add342;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
 
 /*가로로정렬됫다가*/
 display: flex;
 /*다시 세로로 정렬*/
 flex-direction: column;
 justify-content: center;
 align-items: center;
  
}

footer >p {
  font-weight: bold;
  
}

footer >section > * {
  font-size: 14px;
}

footer a{
  color: black;
  text-decoration: none;

}

footer span{
  padding : 0 10px;
}

/*반응형 : @media 
@ : CSS at -rule , 특정 조건이나 규칙에 따라서 
    스타일을 적용할수 있게 해주는 css명령어

@media : 미디어 쿼리 -특정 조건(ex. 화면 크기 ) 에 따라 다른 스타일을 
         적용할수 있게 해줌
*/

/*알고있기*/
@media all and (max-width: 767px) {
  /*반응형 모바일 기준*/
  /*해상도 767px 이하면 이 중괄호 내에 작성된 css코드를 적용해라*/
  /*화면이 767px 보다 작은 것만 이거먹임*/
  main{
    width:100vw; /*vw : (viewport width) - 디바이스의(viewport)의 너비 전체*/
  }


  header{
    display: none;
  }

  nav{
    width : 100%;
    border-bottom: none;
    height: auto;
  }

  nav>ul{

    /*세로로 쌓기*/
    /*가로였던 세로로 축 바꾸기*/
  flex-direction: column;  
  }

  nav li{
    flex-basis :auto;
    border-bottom: 1px solid #ddd;
  }
  .content{
    flex-direction: column;
  }
 footer>*{
  font-size: 12px;
 }
 .content-2{
  /*로그인창 여백조정*/
    padding :20px;
 }
}

/*태블릿 기준*/
@media all and(min-width:768px) and (max-width:1023px){
  /*스타일 css 코드 입력*/
}
